<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yifeng.mdstudysamples">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Base.AppTheme">

        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.TabLayoutTopActivity"
            android:label="TabLayoutSamples"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.TabLayoutBottomActivity"
            android:label="TabLayoutSamples"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.SnackbarActivity"
            android:label="SnackbarSamples"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.FabActivity"
            android:label="SnackbarSamples"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.AppBarLayoutActivity"
            android:label="SnackbarSamples"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".activity.BehaviorNestedActivity"
            android:label="SnackbarSamples"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.BehaviorDependentActivity"
            android:label="SnackbarSamples"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.BehaviorNestedExpandActivity"
            android:label="SnackbarSamples"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.TextInputActivity"
            android:label="TextInputLayout"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name=".activity.SearchResultActivity"
            android:label="@string/search_result"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"/>

        </activity>

    </application>

</manifest>